<table>
    <thead>
        <th>Time</th>
        <th>Phone</th>
        <th>Veg</th>
        <th>Location</th>
    </thead>

    <tbody>
        {{#if data2}}
            {{#each data2}}
                <tr>
                    <td>{{this.phone}}</td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="4">No data available</td>
            </tr>
        {{/if}}
    </tbody>
</table>
